TP_MGTest/bin/_dictionaryPerfomanceTest.txt
TP_MGTest/bin/_observableCollectionPerfomanceTest.txt
TP_MG/bin/Debug/TP_MG.exe
TP_MGTest/bin/_listPerfomanceTest.txt
TP_MG/bin/Debug/TP_MG.exe
TP_MG/obj/Debug/TP_MG.exe
TP_MGTest/bin/Debug/TP_MG.exe